<div class="content">
  <div class="container no-bottom">
    <h3>记分赛事列表</h3>
  </div>
  <div class="decoration"></div>
  <div class="one-third-responsive">
    <a href="#" class="user-list-item">
        <img src="images/pictures/1s.jpg" alt="img">
        <strong>User One<br></strong>
        <em>United States, New York, NY </em>
        <i class="fa fa-chevron-right"></i>
    </a>
    <div class="decoration"></div>                
    <a href="#" class="user-list-item">
        <img src="images/pictures/2s.jpg" alt="img">
        <strong>User Two<br></strong>
        <em>United States, New York, NY </em>
        <i class="fa fa-chevron-right"></i>
    </a>
    <div class="decoration"></div>                
    <a href="#" class="user-list-item">
        <img src="images/pictures/3s.jpg" alt="img">
        <strong>User Three<br></strong>
        <em>United States, New York, NY </em>
        <i class="fa fa-chevron-right"></i>
    </a>
    <div class="decoration"></div>                
    <a href="#" class="user-list-item">
        <img src="images/pictures/4s.jpg" alt="img">
        <strong>User Four<br></strong>
        <em>United States, New York, NY </em>
        <i class="fa fa-chevron-right"></i>
    </a>
    <div class="decoration"></div>
  </div>        
</div>