<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我爱高尔夫</title>
  </head>
  <body>
    <div id="weixin">
      <%= image_tag 'download/weixin.jpg' %>
    </div>
    <%= javascript_include_tag 'frontend/scan', 'data-turbolinks-track' => true %>
  </body>
</html>